@import "tailwindcss";

@font-face {
    font-family: 'Font'; /* Choose a descriptive name */
    src: url('./assets/fonts/Syne-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: Font;
}
